.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
*.Rproj

# files
*.html
*.pdf
*.tex
*.log
*.txt

# folders
data-raw/oldstuff
data-raw/testing
data-raw/Sean
data-raw/Rold
output
for_paper
docs
inst/doc
